<div class="page-header">
<h3> Welcome to Song Share </h3>
</div>

<div class="user">
	{{#if id}}
		<div> Logged in as {{ id }} </div>
	{{else}}
		<div> Log in to see your groups/create a group </div>
	{{/if}}
</div>