<h1> Logged in as {{user_info.name}} </h1>
<img class="media-object" width="150" src="{{user_info.images.0.url}}" />
<div> Email: {{user_info.email}} </div>
<div> Country: {{user_info.country}} </div>

